* {
    box-sizing: border-box;
}

.deckHolder{
    margin: 0;
    /* max-height: 500px; */
    /* overflow: hidden; */
    /* overflow-y: scroll; */
    margin-bottom: 20px;
}

.deck-contain{
    margin: 0 auto;
}

/* input{
    margin-top: 1rem;
    top: 50%;
    left: 50%;
} */

.form{ 
    align-content: center;
}

.check{
    display: inline-block;
}

.card{
    margin: 2rem;
}

main{
    background-color:#F0F8FF;
    z-index: 1; 
}

h3 {
    margin-top: 25px;
    text-align: center;
}

nav{
    z-index:1;
}

.box{
    /* width: 200px; */
    width: 97%;
    height: 100px;

    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    align-items: center;
    margin: 15px;
    border-radius: 10px;
    /* float: left; */
    /* margin: 6.5px; */
}

.box ul{

    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    align-items: center;
    width: 100%;
    /* position: absolute; */
    /* position: relative; */
    /* top: 40%; */
    /* transform: translateY(-40%); */
 } 

.nametag{
    /* position: absolute;
    left: 8%; */
    /* padding-left: 50px; */
    /* margin:  auto; */
    /* width: 150px; */
    /* position: relative; */
    /* text-align: center; */
    /* display: block; */
    /* top: 25%; */
    /* transform: translateY(-25%); */
    width: 30%;
    text-align: left;
    padding-left: 40px;
    word-wrap: normal;
}

.cardCounttag{
    /* position: absolute;
    left: 38%; */
    width: 30%;
    margin-right: 10px;
    margin-left: 10px;
}

.spin{ 
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #eee;
    display: inline-block;
    margin: 10px;
    position: relative;
}

.spinnerDiv{
    position: relative;
    /* right: 5%;  */
    width: 40%;
    margin-right: 20px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.spin a, .spin p{
    text-align: center;
    /* height: 50px; */
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%); 

} 

.spin::before{
    content: '';
    display: block;
    border-radius: 50%;
    position: relative;
    height: 50px;
    width: 50px;
    border:2px solid transparent;
    animation: spinner 4s linear infinite;
    animation-play-state: running;
    cursor: pointer;
}

.spin p:hover{
    cursor: pointer;
}

.study-spin::before{
    border-top-color: green;
    border-bottom-color: green;
}

.edit-spin::before{
    border-top-color: blue;
    border-bottom-color: blue;
}

.delete-spin::before{
    border-top-color: red;
    border-bottom-color: red;
}

/* .running{
    animation-play-state: running;
} */

@keyframes spinner {
    0% {
        transform: rotate(0deg)scale(1);
    }
    50% {
        transform: rotate(180deg)scale(1.4);
    }
    100%{
        transform: rotate(360deg)scale(1);
    }
}

/* .speech-bubble {
    width: 300px;
    margin: 50px auto;
    background: lightskyblue;
    padding: 20px;
    text-align: center;
    font-weight: 900;
    border-radius: 10%;
    color: #fff;
    font-family: arial;
    position:relative;
    
}

.speech-bubble-t2 {
    width: 300px;
    margin: 50px auto;
    background: lightskyblue;
    padding: 20px;
    text-align: center;
    font-weight: 900;
    border-radius: 10%;
    color: #fff;
    font-family: arial;
    position:relative;
}

.speech-bubble:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid lightskyblue;
  border-right: 10px solid transparent;
  border-top: 10px solid lightskyblue;
  border-bottom: 10px solid transparent;
  right: -10px;
  top: 60px;
}

.speech-bubble-t2:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid lightskyblue;
    border-right: 10px solid transparent;
    border-top: 10px solid lightskyblue;
    border-bottom: 10px solid transparent;
    right: -10px;
    top: 20px;
  }

#locater-sb1 { position: absolute; visibility: visible; left: -150px; top: 50px; height: 100px; width: 150px; z-index: 200; }
#locater-sb2 { position: absolute; visibility: visible; left: -650px; top: 425px; height: 100px; width: 150px; z-index: 200; }
#locater-sb3 { position: absolute; visibility: visible; left: -150px; top: 50px; height: 100px; width: 150px; z-index: 200; } */
.study-spin a{
    color: green;
}

.delete-spin p{
    color: red;
}

.edit-spin:hover, .edit-spin:hover a, .delete-spin:hover, .delete-spin:hover p,.study-spin:hover, .study-spin:hover a {
    text-decoration: none;
    color: white;
}

.edit-spin:hover{
    background-color: blue;
}


.delete-spin:hover{
    background-color: red;
}


.study-spin:hover{
    background-color: green;
}
.spin-text{
    text-decoration: none;
}

.bubble{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; 
    transform: translateZ(0);
}

.bubble li{
    position: absolute; 
    list-style: none; 
    display: block;
    background-color:#FFFFFF; 
    bottom: -150px; 
    animation: square 20s infinite; 
    transition-timing-function: linear;
}

.bubble :nth-child(1){
    width: 15px;
    height: 15px; 
    left: 65%; 
    animation-delay: 8s; 
    animation-duration: 30s;
}

.bubble :nth-child(2){
    width: 20px;
    height: 20px; 
    left: 20%; 
    animation-delay: 6s; 
    animation-duration: 30s;
}

.bubble :nth-child(3){
    width: 20px;
    height: 20px; 
    left: 35%; 
    animation-delay: 9s; 
    animation-duration: 25s;
}

.bubble :nth-child(4){
    width: 25px;
    height: 25px; 
    left: 75%; 
    animation-delay: 5s; 
    animation-duration: 25s;
}

.bubble :nth-child(5){
    width: 25px;
    height: 25px; 
    left: 120%; 
    animation-delay: 5s; 
    animation-duration: 30s;
}

.bubble :nth-child(6){
    width: 25px;
    height: 25px; 
    left: 90%; 
    animation-delay: 15s; 
    animation-duration: 25s;
}

.bubble :nth-child(7){
    width: 25px;
    height: 25px; 
    left: 90%; 
    animation-delay: 15s; 
    animation-duration: 25s;
}

.bubble :nth-child(8){
    width: 30px;
    height: 30px; 
    left: 30%; 
    animation-delay: 5s; 
    animation-duration: 35s;
}

.bubble :nth-child(9){
    width: 40px;
    height: 40px; 
    left: 40%; 
    animation-delay: 1s; 
    animation-duration: 30s;
}

.bubble :nth-child(10){
    width: 40px;
    height: 40px; 
    left: 20%; 
    animation-delay: 8s; 
    animation-duration: 45s;
}

.bubble :nth-child(11){
    width: 40px;
    height: 40px; 
    left: 10%; 
    animation-delay: 1s; 
    animation-duration: 15s;
}

.bubble :nth-child(12){
    width: 40px;
    height: 40px; 
    left: 20%; 
    animation-delay: 15s; 
    animation-duration: 35s;
}

.bubble :nth-child(13){
    width: 40px;
    height: 40px; 
    left: 15%; 
    animation-delay: 8s; 
    animation-duration: 45s;
}

.bubble :nth-child(14){
    width: 40px;
    height: 40px; 
    left: 75%; 
    animation-delay: 12s; 
    animation-duration: 25s;
}
.bubble :nth-child(15){
    width: 45px;
    height: 45px; 
    left: 105%; 
    animation-delay: 30s; 
    animation-duration: 55s;
}

.bubble :nth-child(16){
    width: 45px;
    height: 45px; 
    left: 80%; 
    animation-delay: 2s; 
    animation-duration: 50s;
}

.bubble :nth-child(17){
    width: 60px;
    height: 60px; 
    left: 65%; 
    animation-delay: 3s; 
    animation-duration: 60s;
}

.bubble :nth-child(18){
    width: 75px;
    height: 75px; 
    left: 95%; 
    animation-delay: 10s; 
    animation-duration: 35s;
}

.bubble :nth-child(19){
    width: 55px;
    height: 55px; 
    left: 65%; 
    animation-delay: 18s; 
    animation-duration: 32s;
}

.bubble :nth-child(20){
    width: 100px;
    height: 100px; 
    left: 110%; 
    animation-delay: 20s; 
    animation-duration: 20s;
}

@keyframes square{
    0% {
        -webkit-transform: translateY(0) rotate(0deg);
        transform: translateY(0) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(calc(-720px)) rotate(680deg);
        transform: translateY(-720px) rotate(680deg);
    }
}

